body {
  background-color: #211e1e;
  overflow-x: hidden;
  color: #fff; }

a {
  outline: 0; }

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }
  @media only screen and (max-width: 900px) {
    .container {
      flex-direction: column; } }

.svg-wrapper {
  max-width: 33%;
  margin: 2em; }
  @media only screen and (max-width: 900px) {
    .svg-wrapper {
      max-width: 80%; } }

.svg {
  width: 100%;
  height: 100%; }

.content {
  max-width: 33%;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 900px) {
    .content {
      max-width: none;
      padding: 1em; } }

.headline {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif; }

.subline {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif; }

.text {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  line-height: 2em; }

.btn-wrapper {
  display: flex; }

.btn-home {
  border: .3em solid #fff;
  padding: 1em 3em;
  color: #444;
  background-color: #fff; }

.btn-spacer {
  margin-right: 2em; }
