body {
  background-color: #000;
  overflow-x: hidden; }

p, h1, h2, h3, h4 {
  color: #fff;
  font-family: 'Bree Serif', serif; }

a {
  outline: 0; }

button::-moz-focus-inner {
  border: 0; }

.container {
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media only screen and (min-width: 600px) {
    .container {
      flex-direction: row;
      margin-top: 8%; } }

.svg-wrapper {
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 600px) {
    .svg-wrapper {
      max-width: 30%; } }

@media only screen and (min-width: 600px) {
  .main {
    padding: 2%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

.main__headline {
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
  letter-spacing: .1em;
  margin-top: 0; }
  @media only screen and (min-width: 800px) {
    .main__headline {
      font-size: 2.5em; } }
  @media only screen and (min-width: 1000px) {
    .main__headline {
      font-size: 3.5em; } }

.main__subline {
  text-align: center;
  letter-spacing: .1em;
  margin: 0;
  font-size: 1.25em; }
  @media only screen and (min-width: 800px) {
    .main__subline {
      font-size: 2em; } }
  @media only screen and (min-width: 1000px) {
    .main__subline {
      font-size: 3em; } }

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  padding: 0 20%; }

.home-btn {
  color: #fff;
  border: 0px;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-family: 'Bree Serif', serif;
  font-size: 1rem;
  background-color: #5e5e5e; }
  .home-btn:hover {
    background-color: #5e5e4a;
    color: #fff; }
