body {
	background-color: #211e1e;
}
.main {
	height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.image {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/529582/Tommy-Lee-Jones-Squirrel.png');
	width: 500px;
	height: 500px;
	background-size: 100%;
}